%section.hero.is-primary.is-fullheight-with-navbar
  .hero-body.is-flex-direction-column.is-justify-content-center.is-align-items-center
    %p.title YTimer
    %p.subtitle Temporizador para speedcubers
