%div
  %aside.has-text-centered.p-4.is-flex.is-flex-direction-column
    %span.is-size-2.has-text-white.has-text-weight-bold.mb-5 YTimer
    .select.is-primary.is-fullwidth.mb-5
      %select
        %option{value: "333"} 3x3
        %option{value: "444"} 4x4
    %button.button.is-primary.is-fullwidth.mb-5 Limpiar tiempos
    .table-container
      %table.table
        %thead
          %tr
            %th #
            %th Tiempo
        %tbody
          - 30.times do |i|
            %tr
              %td= i + 1
              %td
                %span.has-text-weight-semibold 00:00:00

  %main.hero.is-fullheight
    .hero-head.is-hidden-desktop
      .navbar
        .container
          .navbar-brand
            .navbar-item 
            .navbar-burger
              %span
              %span
              %span
    .hero-body.is-justify-content-center.is-align-items-center
      %p.is-size-1.has-text-weight-bold 0.00

