@charset "utf-8";

// ytimer colors
$grey-blue: #2A303C;
$grey-blue-dark: #242933;
$grey-blue-light: #A6ADBB;
$green-apple: #8ACA7A;

// sidebar variables

$sidebar-width: 260px;

// text colors
$text: $grey-blue-light;
$text-strong: $grey-blue-light;

// border colors
$border: $grey-blue-dark;

// background colors
$scheme-main: $grey-blue;
$scheme-main-bis: $grey-blue-dark;
$sheme-main-ter: $grey-blue-light;

// card
$card-background-color: $grey-blue-dark;

// navbar
$navbar-background-color: $grey-blue-dark;

// table

$table-cell-padding: 1rem;


$family-sans-serif: "Poppins", sans-serif;
$primary: $green-apple;

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

@import 'bulma/bulma';

body, html {
  height: 100%;
}

.notification {
  @extend .notification;

  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  min-width: calc(100vw - 2rem);

  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: $desktop) {
    min-width: 20rem;
  }

}


aside {
  @extend .p-4;
  width: $sidebar-width;
  position: fixed;
  height: 100%;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  background-color: $scheme-main-bis;
  display: block;
  border-right: 1px solid $scheme-main-bis;
  border-radius: 0px 15px 15px 0px;

  @include from($desktop) {
    transform: translateX(0);
  }

  &.is-active {
    transform: translateX(0%);
  }
}

.table-container {
  @extend .table-container;

  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  height: calc(100vh - 8rem);
}
.table-container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

main {
  @include from($desktop) {
    margin-left: $sidebar-width;
  }
}

.table {
  @extend .table;
  width: 100%;
}

.result-table {
  @extend .columns
}

.result-table-item {
  @extend .column;
  border-bottom: 1.5px solid $grey-blue;
}
